.skills-container {
    text-align: center;
    padding: 40px;
    width: 80%;
    margin: 0 auto;
    animation: fadeSlide 1s ease-in-out;
  }
  
  .skills-title {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 20px;
  }
  
  .skills-description {
    font-size: 1rem;
    margin-bottom: 50px;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
    gap: 2rem;
    margin-bottom: 50px;
  }
  
  .skill-card {
    height: 65px;
    width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
  }
  
  .skill-card:hover {
    transform: scale(1.1);
  }
  
  .skill-logo {
    width: 40px;
    height: 40px;
  }

  .skill-name{
    color: black;
    font-size: 1.1rem;
    padding-left: 10px;
  }

  @media (max-width: 900px) {
    .skills-grid {
        grid-template-columns: repeat(2,1fr);
    }
  }
  
  
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .skill-card {
        height: 60px;
        width: 160px;
        gap: 5px;
      }

      .skill-logo {
        width: 30px;
        height: 30px;
      }
    
      .skill-name{
        font-size: 0.9rem;
        padding-left: 10px;
      }
  }
  