.intro{
    height: 90vh;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introImg{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.bg{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: yellow 0px 2px 12px;
    padding: 4px;
    transition: transform 0.3s ease-in-out;
    /* animation: fadeIn 7s; */
    animation: fadeSlide 1s ease-in-out;
}

.bg:hover{
    transform: scale(1.2);
}

.introContent{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    animation: fadeSlide 1s ease-in-out;
    /* animation: fadeIn 7s; */
}

.hello{
    font-size: 1.50rem;
    font-weight: 100;
}

.introName{
    color: yellow;
}

.introPara{
    font-size: medium;
    font-weight: 300;
    text-align: center;
    line-height: 1.8rem;
    letter-spacing: 1px;
}

.btns{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    transition: transform 0.3s ease-in-out;
}

.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.05);
}

.btn1{
    background-color: yellow;
}

.btnImg{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
} 




 
/* img:hover{
    transform: scale(1.1);
} */




@media screen and (max-width:720px){
    .intro{
        width: 80%;
        height: auto;
    }
    .introImg{
        height: 150px;
        padding-top: 0;
    }
    
    .bg{
        width: 130px;
        height: 130px;
    }

    .introContent{
        height: 280px;
        font-size: 1.8em;
        font-weight: 300;
    }
    
    .introPara{
        font-size: small;
        font-weight: 200;
        line-height: 1.5rem;
    }
    .introSkill{
        font-size: 1.8rem;
        font-weight: 300;
        margin-bottom: 0.8rem;
    }
    
    .btns{
        gap: 1rem;
    }
    
    .btn{
        background: white;
        margin: 1rem 0;
        padding: 0.6rem 1.3rem;
    }
    .btn1{
        background-color: yellow;
    }  
}


@media screen and (max-width:600px){
    .intro{
        height: 90vh;
    }
    .introContent{
        font-size: 1.5em;
    }
    .introSkill{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:500px){
    .intro{
        width: 80%;
    }
    
}
